.btn-blue{
	background-color: #13aaeb; padding: 15px 20px; border-radius: 6px;
	color: white; font-weight: bold;
}

a:hover {color: black;}

.btn-blue:hover{background-color: #ed1515;
	color: white;}